.character-image {
    max-width: 5vw;
    min-height: 100%;
}

#characters {
    padding-left: 10vw;
    min-height: 20vh;
    max-height: 20vh;
    border: solid;
    background-color: black;
}

#info {
    padding-top: 1vh;
    min-height: 24vh;
    max-height: 24vh;
    text-align: center;
    background-image: url(images/team7.jpg);
    background-size: 24%;
    background-repeat: no-repeat;
}

