.character-image {
    max-width: 5vw;
    min-height: 100%;
}

#characters {
    padding-left: 10vw;
    min-height: 20vh;
    max-height: 20vh;
    border-top: solid;

}

#info {
    padding-top: 1vh;
    min-height: 24vh;
    max-height: 24vh;
    text-align: center;
    background-color: white;
    /* background-image: url(images/waterfall.jpg);
    background-size: 100%;
    background-repeat: no-repeat; */
}

body {
    background-image: url(images/arena.png);
    background-size: 100%;
    min-height: 55vh;
    max-height: 55vh;
    background-repeat: no-repeat;

}

.arena.pic {
    margin-top: 10px;
    max-height: 60vh;
}

